[2013-06-26 21:43] jbarnoud opened #1 "run_demo2.sh calls PBstat with unknown options"
In the last example given in run_demo2.sh, PBstat.py is called with the options `--neq-residue-lower`, `--neq-residue-upper` and `--neq-residue-shift`. None of this three options are recognised by PBstat.

[2013-06-28 23:06] #1 closed, assigned to nobody

[2013-06-28 23:50] pierrepo opened #3 "Create proper reference to Weblogo"
Create proper reference to Weblogo in code and documentation

[2013-07-08 17:43] jbarnoud opened #4 "There is no license mentioned"
No license is mentioned for the project. The repository root should contain a file named LICENSE with the license text.  Ideally, mention of the license should appear in every source file.

[2013-08-25 10:43] #4 closed, assigned to pierrepo

[2013-12-17 22:57] pierrepo opened #6 "Add options -x and -g and module MDAanalysis in documentation"

[2013-12-17 23:00] pierrepo opened #7 "Store PBdefinition as a dictionnary of lists of floats in PBlib.py"
For easier and quicker loading.
Lists will then have to be converted in Numpy arrays

[2013-12-17 23:05] pierrepo opened #8 "Add paper reference to PB definition in PBlib.py"

[2014-06-06 16:26] pierrepo opened #12 "Use a more permissive license (MIT) instead of GPL"

[2014-09-09 11:12] #12 closed, assigned to nobody

[2014-09-09 17:18] #8 closed, assigned to nobody

[2014-09-25 09:17] jbarnoud opened #13 "Get rid of R"
PBxplore uses R to draw figures and to perform hierarchical clustering. This implies a heavy dependence to R;. It also requires to know two languages to maintain the software instead of one. Finally, as R is called via subprocess rather that via rpy, it requires to write intermediate scripts which is error prone and difficult to maintain.

All the thing done with R could be done in python.

Figure

[2014-10-01 19:15] jbarnoud opened #14 "PDBx/mmCIF support"
PBxplore does not read PBDx/mmCIF files. Yet, the PDB format is going to be deprecated soon (<http://pdbj.org/help/data-format>), and will be replaced by PBDx/mmCIF.

[2014-10-03 10:36] pierrepo opened #15 "Support for Python 3.x"

[2014-10-03 14:19] #3 closed, assigned to pierrepo

[2014-10-03 14:23] jbarnoud opened #16 "Error during demo2"
run_demo2.sh fails and says:

[2014-10-04 06:29] #16 closed, assigned to nobody

[2014-10-06 13:41] jbarnoud opened #19 "PBclust does not appear in the demo"
None of the demos call PBclust.

[2014-10-07 10:17] #15 closed, assigned to jbarnoud

[2015-01-15 17:04] pierrepo commented on #14
Hello @jbarnoud,

could you have a look to the new release of this branch? I have added new tests and .cif.gz files are handled correctly in regression tests.

* I made only one class for PDB and PDBx that is called from PBassign.py. I don't think we need two classes yet.
* I removed sys.exit from modules.

[2015-01-16 09:34] jbarnoud opened #20 "Use a continuous integration service"
As we have automatic tests, it could be nice to have them run automatically when we push code into the repo. This is made possible by services like Travis CI <https://travis-ci.org>.

The steps to have such automatic testing running are described here: <http://docs.travis-ci.com/user/getting-started/>. In short, we need to create a account on travis, add a file in the repo to describe the test pro

[2015-01-16 09:37] jbarnoud opened #21 "Make PBxplore installable"
PBxplore should have a setup.py file so it can be installed system wide or in a virtualenv.

[2015-01-16 09:54] jbarnoud opened #22 "PBxplore should be available on Pypi"
Pypi (<https://pypi.python.org/pypi>) is the central package repository for the python language. It is where pip and easy_install look for packages to install. Having PBxplore available on pypi would ease the installation of the tools for the users. Getting the software is the first barrier to entry for a user, it should be as smooth as possible.

So far, installing the software means:

* having g

[2015-01-16 21:33] #20 closed

[2015-01-27 10:30] pierrepo commented on #22
This could help:
http://peterdowns.com/posts/first-time-with-pypi.html

[2015-02-13 10:11] pierrepo commented on #14
PDBx/mmCIF is now supported.

[2015-02-13 10:11] #14 closed

[2015-03-04 12:51] jbarnoud opened #25 "[proposal] PBxplore modularization"
The current version of PBxplore is mostly oriented toward a use through the command line. With some refactoring, the program could also be used as a python module which would dramatically increase its extensibility. I hereby propose a structure for PBxplore as a python library in the hope it will lead to a conversation.

PBxplore provides a structure file parser, a Protein Blocks assignment implem

[2015-03-06 09:59] sleonard0386 opened #26 "Erreur PBassign lors de l'utilisation de fichier gro et xtc"
Lors du lancement de la commande PBassign.py avec un fichier xtc et un
fichier gro, j'ai l'erreur suivante :

PBxplore# ./PBassign.py -x test/md.xtc -g test/md.gro -o test/md_traj
/home/alesia/fadeev/Documents/www/PBxplore
Read PB definitions: 16 PBs x 8 angles
Traceback (most recent call last):
  File "./PBassign.py", line 300, in <module>
    atom = PdbAtom()
NameError: name 'PdbAtom' is not def

[2015-03-06 10:00] sleonard0386 commented on #26
PS : Je suis en train de voir avec Alex pour vous fournir des fichiers gro et xtc utilisable en test & demo

[2015-03-06 14:08] sleonard0386 opened #27 "Problème Weblogo"
Hello, c'est encore moi...

Lors de l'utilisation de fichier count de grande taille avec PBstat, l'appel de weblogo renvoie l'erreur suivante :
ERROR: Traceback (most recent call last):
  File "/usr/local/weblogo/weblogo", line 71, in <module>
    weblogolib._cli.main()
  File "/usr/local/weblogo/weblogolib/_cli.py", line 79, in main
    data = _build_logodata(opts)
  File "/usr/local/weblogo/webl

[2015-03-06 14:16] alexdb27 commented on #22
Coucou,

Dans ce cadre, je dirais que je suis bien entendu 200% d'accord.
Je me permet de partager mes quelques problèmes récents:

-Sous Ubuntu, l'installation de MDAnalysis à nécessité l'utilisation non pas juste du sudo, mais de root (car manquait un package developpement Python) et maintenant je tombe sur https://github.com/pierrepo/PBxplore/issues/26
(mais avec demo2 !! cela fait pas top).

-

[2015-03-06 14:18] sleonard0386 commented on #26
[Update] Un test avec les fichier xtc & gro présent dans le dossier demo2 permet de reproduire l'erreur :

./PBassign.py -x demo2/md_traj_4.xtc -g demo2/md_traj_4.gro  -o test/md_traj
/home/alesia/fadeev/Documents/www/PBxplore
Read PB definitions: 16 PBs x 8 angles
Traceback (most recent call last):
  File "./PBassign.py", line 300, in <module>
    atom = PdbAtom()
NameError: name 'PdbAtom' is not

[2015-03-06 14:47] alexdb27 opened #28 "weblogo 2.x 3.y ..."
Il faudrait sans doute pointé sur la bonne page

Actuellement c'est sur la 2.8.2 qui ne marche pas
Et la downloadable usabale est la 3.4.0 pas la 3.3.0

[2015-03-06 14:47] alexdb27 opened #29 "--first-residue option"
l'exemple ne marche pas avec --residue-shift ....

[2015-03-06 14:56] alexdb27 opened #30 "Mac"
Coucou,

Bon quelques pépins spécifiques de test sous Mac.

- ok, un peu **** l'installation des qq packages, mais bon (ok, pas réussi pour MDAnalysis ar macports ne marche pas).
- weblogo ne passe pas en ligne de commande. Il dit qu'il ne trouve pas dans le sh alors que j'ai mis dans le même répertoire avec tout ce qu'il faut (bestial), weblogo fonctionne (sa démo)... je creuserais.

[2015-03-06 15:02] alexdb27 opened #31 "clusters"
1. il faudrait expliciter la méthodologie.
2. le premier exemple ne donne pas le même résultat !!!
j'ai 28 - 17 - 26 - 53 - 66 séquences au lieu de 9 - 16 -48 -52 - 65 !!!
(le nom n'zst aps md_traj_1.PB.clust mais beta_....)

3. --cluster options ? cluster !
idem pas la même chose...

[2015-03-06 15:38] jbarnoud commented on #26
Last working commit seems to be 10cb0e2.

[2015-03-08 11:13] jbarnoud commented on #27
Salut @sleonard0386 ,

Merci pour ton rapport de bug.

Quelle version de weblogo utilises-tu ? J'ai essayé avec la version 3.4 (que j'ai installé avec la commande `pip install --user weblogo`), le fichier le plus court a causé un soucis mais le fichier le plus long a marché.

J'ai soumis le pull request #33 qui devrait résoudre le soucis. Ça m'intéresserait que tu essaie chez toi.

[2015-03-08 15:56] jbarnoud commented on #31
La doc de PBclust n'a pas l'air à jour et la copie de la sortie de PBclust ne correspond pas à la sortie que l'on obtient en lançant l'exemple. J'ai la même sortie qu'Alex en lançant l'exemple.

Après un rapide coup d'oeil, je pense que la différence vient de la méthode de clustering passée à hclust qui est passée à ward dans le commit 6f75a9a1a9824fa40454911e166c9c65b4736d63.

Il faudrait mettre

[2015-03-08 16:11] jbarnoud commented on #30
We should document how to install the dependancies. I will do it once the install protocol for PBxplore is stabilized (see #21 and #22).

Hint: one should use pip to install the dependancies:

[code]

Even better, look at virtualenv.

[2015-03-08 18:24] alexdb27 commented on #31
Pour le ward, il y eu en effet une mise à jour.
Deux types de calcul existe, l'un correct, l'autre plus approximatif.
C'était le second qui était dans R, ils ont corrigé et propose les deux.
mon opinion est de mettre le "bon" ward et si possible un complete si l'utilisateur le désire

Point 3, il y a des fötes de tograffe ... zats all !!

[2015-03-08 18:33] alexdb27 commented on #30
pip pour Linux
cela marche pour weblogo ??

sous mac, j'ai du passé par MacPorts, un peu long (5 heures) et pleins de problèmes ... mais bon cela marche maintenant ...(enfin j'arrive au même bug que sous Linux)

On a une idée de test sous Windows ou il faut un truc style Cygwin ?

[2015-03-09 08:52] sleonard0386 commented on #27
Hello,

sur la machine, j'utilise la version 3.3 de weblogo que j'ai récupéré sur le site de weblogo : https://code.google.com/p/weblogo/

Je ne sais pas si cela peut venir de là.

Je peux tester de faire l'install de weblogo via pip pour voir si cela supprime le bug. Je peux aussi faire un update de mon git local pour voir si cela fix le bug.

[2015-03-09 08:57] jbarnoud commented on #27
J'ai testé la version corrigée avec weblogo 3.4. A priori ça marche. Si c'est possible, je serais surtout intéressé que tu tests la branche corrigée avec ta version actuelle de weblogo. Tu peux trouver la version corrigée de PBxplore appliquant localement le pull request #33 ou en clonant mon dépôt et en faichant un checkout sur la branche issue_weblogo (https://github.com/jbarnoud/PBxplore/tree/i

[2015-03-09 09:01] jbarnoud commented on #30
A priori il n'y a pas de soucis à installer weblogo avec pip sous linux, mais je n'ai rien pour tester sous la main. Il faut être root pour l'installer au niveau du système mais l'option --user de pip permet d'installer des paquets sans droit particulier.

Je ne sais pas comment utiliser le PBxplore sous windows. Ça devrait être possible de l'utiliser depuis la commande DOS sans utiliser cygwin. M

[2015-03-09 09:58] sleonard0386 opened #37 "Probleme with run_demo1.sh"
Un petit retour de bug de l'étudiant d'Alex sur ce script :

Certaine commande echo ne corresponde pas à la commande lancée réellement
exemple :
echo "../PBassign.py -f 2LFU.pdb -o 2LFU"
puis
../PBassign.py -p 2LFU.pdb -o 2LFU

ou encore

echo "../PBassign.py -d ./ -o all"
puis
../PBassign.py -p 3ICH.pdb -p 2LFU.pdb -o several

Enfin, pour la commande permettant de lire un dossier, le retour d'ech

[2015-03-09 10:16] sleonard0386 commented on #27
je viens de tester avec ton dépôt & ta branche issue_weblogo, je n'ai plus de problème :

Index of first residue is: 1
wrote ../test/testG/md_traj_john.PB.map.png

wrote ../test/testG/md_traj_john.PB.Neq
wrote ../test/testG/md_traj_john.PB.Neq.png

wrote ../test/testG/md_traj_john.PB.logo.pdf

Merci pour la résolution du pb

[2015-03-09 10:25] jbarnoud commented on #27
On 09/03/15 11:16, sleonard0386 wrote:

Super ! Donc on peut fermer le ticket dès que la pull request est
reviewée et mergée.

[2015-03-09 10:56] jbarnoud opened #39 "Missing picture in the doc"
The picture file doc/img/1AY7_B.png, used in doc/intro.PBs.md is missing resulting in a broken picture in the doc.

See https://github.com/pierrepo/PBxplore/blob/master/doc/intro.PBs.md

[2015-03-09 12:35] sleonard0386 commented on #27
Et tu vas rire, pull pas trop vite on a débusqué un nouveau lièvre.....

Le même problème est apparu dans PBassign (après test sur ton dépôt ^^) :

./PBassign.py -x ../test/testG/md.xtc -g ../test/testG/md.gro -o ../test/testG/md_traj-test
/home/alesia/Documents/www/PBxplore
Read PB definitions: 16 PBs x 8 angles
Traceback (most recent call last):
  File "./PBassign.py", line 300, in <module>

[2015-03-09 12:44] jbarnoud commented on #27
On 09/03/15 13:35, sleonard0386 wrote:

Ce n'est pas un nouveau bug, c'est le bug #26 qui n'est pas corrigé sur
cette branche. Je fais une branche par correction de bug pour que les
pull requests soient le plus spécifique possible.

En attendant que les pull requests soient validées par Pierre, tu peux
localement merger les branches qui corrigent tes soucis. Pour le soucis
que tu décris ici, tu pe

[2015-03-09 12:51] #26 closed

[2015-03-09 12:52] sleonard0386 commented on #27
Oui, désolé pour le commentaire ici, je me suis rendu compte 10s après l'avoir posté que je m'étais planté....
(d'où la suppression du post)

[2015-03-09 12:57] #37 closed

[2015-03-09 12:59] Vivi270 commented on #37
ou encore

echo "../PBassign.py -d ./ -o all"
puis
../PBassign.py -p 3ICH.pdb -p 2LFU.pdb -o several

Enfin, pour la commande permettant de lire un dossier, le retour d'echo n'est pas identique à la commande lancée & la commande lancée renvoie en console 'Nothing to do' :
affichage de commande : echo "../PBassign.py -d ./ -o all"

[2015-03-09 13:01] #27 closed

[2015-03-09 13:02] #28 closed

[2015-03-09 13:02] #29 closed

[2015-03-09 13:03] pierrepo opened #41 "Reduce file redundancy in demo and test directories"
Some structures files in the test_data directory are redundant with some from the demo1 or demo2 directory. Could we reduce this redundancy by taking source structures files for test in the demoX directory?
Symlinks are not good idear since probably not cross plateform.
If needed, we can merge demo1 and demo2 directories into a single demo dir.

[2015-03-09 13:05] jbarnoud commented on #41
It could be done. Yet, I would prefer the tests to remain as independent from the rest as possible.

[2015-03-09 13:06] jbarnoud commented on #37
A priori ça vient d'être résolu :)

[2015-03-10 13:58] pierrepo commented on #41
OK. For me. Maybe I'll try to reduce the size of some test files....

[2015-03-10 13:58] #41 closed

[2015-03-10 14:01] jbarnoud commented on #41
On 10/03/15 14:58, Pierre Poulain wrote:

The PDBs with multiple models and the trajectories are easy target here.
demo2/md_traj.pdb especially makes the demo super slow and quite painful
to run.

[2015-03-10 15:58] pierrepo opened #42 "Reduce file size of multiconformation structures (demo2)"
As suggested by @jbarnoud in issue #41

[2015-03-10 17:23] pierrepo commented on #25
Agree but I sugget we transform one program after another, starting with PBassign.py

[2015-03-10 17:47] #7 closed

[2015-03-10 17:55] pierrepo opened #43 "temporary directories in test_tmp directory are not erased after tests"
Maybe use a TearDown function?
http://nose.readthedocs.org/en/latest/writing_tests.html

[2015-03-12 10:10] jbarnoud commented on #25
I agree it is safer. I'll start by having everything PBassign does available as a library.

[2015-03-12 10:20] jbarnoud commented on #43
It could work. I'll have a look.

Just as a remainder, here is the cause of the issue : most tests call a function that create a temporary directory, call PBassign in this directory, check some assertions, and finally delete the directory. The point is that if a test fails, the temporary directory is still there to investigate the reasons of the failure. Some tests are supposed to fail, though. Th

[2015-03-12 13:11] alexdb27 commented on #42
why ?

[2015-03-12 13:17] jbarnoud commented on #42
On 12/03/15 14:11, Alexandre G. de Brevern wrote:

Mostly because the file is only used for demonstration purpose and that
it makes the demo very long to run. Also because the file is 30 MB,
which makes the package heavier than needed.

There may be reasons to keep the file that large. I just do not see
them. I would be happy to read about any reason I would have missed, though.

[2015-03-12 13:36] alexdb27 commented on #30
So test ok for mac OSX Yosemite 10.10.1, Python 2.7.6, R 3.1.1. weblogo 3.3
(exactly same results than for Linux)

[2015-03-12 13:41] alexdb27 commented on #6
But it was done. Why have you not closed it ?

[2015-03-12 13:44] alexdb27 commented on #19
If we want to have PBclust, must we keep the demo2 .gro file?

[2015-03-12 13:50] jbarnoud commented on #19
On 12/03/15 14:44, Alexandre G. de Brevern wrote:

We need to have a set of conformations. It can be either a multimodel
PDB or a XTC trajectory. It may be long for a demo if there is too many
conformations. Yet, we may want the conformations not to be too close
from one another; this means that the file reduction mentioned in #42
should not be about truncating the file be rather about remove one

[2015-03-12 15:13] pierrepo commented on #42
The demo files are intend to be working examples. Appart from beta3_md_traj.pdb in the demo2 directory (that is used in the papier), they are not expected to carry any biological meaning.
In addidtion, regression tests also use some files issued from the demo directories. These tests must be very fast (for both users and Travais, the continuous integration system).

[2015-03-12 15:33] pierrepo commented on #43
OK. Why not erasing the temp directories in all cases? In case of failure, we could return to the user the exact command that failed and the file with expected output.
If the user wants to understand further the error, he rerun the command that failed and check by himslef.
It would be much simplifier, especially for average users who will not got any further after the failure message.

[2015-03-12 15:42] jbarnoud commented on #43
On 12/03/15 16:33, Pierre Poulain wrote:

It will most likely ends like that if I do not find a cleaner way. I do
not like it, though. It adds steps in the debug process when debugging
is already painful enough.

These tests are not really for the average user. They mostly are for us,
developers, to make sure we are not breaking anything. I would expect
the average user to run the demos instead.

[2015-03-12 15:48] jbarnoud commented on #6
Right! This issue got fixed by commit e21a2bc03b37e79d332383aac986e1ae7837c28d.

The commit says "Fix issue #6" so I guess @pierrepo expected the issue to close automatically upon merge. I discovered with my last batch of pull requests that github recognises "Fix #6" but not "Fix issue #6".

I close the issue as it looks solved.

[2015-03-12 15:48] #6 closed

[2015-03-12 15:52] #39 closed

[2015-03-12 16:16] pierrepo commented on #43
+1 for

So if regression tests are mostly for Travis and developpers, why not cleaning the test_tmp dir at the beginning of the serie of tests?

[2015-03-12 17:20] jbarnoud commented on #43
On 12/03/15 17:16, Pierre Poulain wrote:

Travis do not care about the files being cleared or not as a new virtual
machine is created at each run of the test suite. For developers
however, being able to keep the output of failing tests is convenient
for diagnostic. But, obviously, it is only my workflow to compare these
output throughout commits. So if I do not manage to have them cleared as
they

[2015-03-12 17:28] pierrepo commented on #43
Agreed.
But if you clean all temp directories in test_tmp/ when you load test_regression.py, you will start with a fresh and clean environnent.

[2015-03-12 21:30] #43 closed

[2015-03-13 09:30] pierrepo commented on #31
So which clustering method should I use @alexdb27 ? Ward or Complete ?
I am sure proposing an option for either ward or complete will be usefull.

[2015-03-13 10:37] #42 closed

[2015-03-13 11:24] alexdb27 commented on #31
YES !! Excellent idea(s) :+1:  I agree @ 200%

[2015-03-13 14:05] #19 closed

[2015-03-13 14:08] pierrepo commented on #31
Actually a word was missing

Couldn't we stick to one method?

[2015-03-13 15:23] alexdb27 commented on #31
I would say Ward by default and optionnaly complete
It is very difficult to choose without testing on a series of simulations.
Mathhieu can test if you need.

[2015-03-13 15:48] pierrepo commented on #31
Yes, please. I am bit reluctant to add a new option. But I'll do if we need to.

[2015-03-14 10:24] jbarnoud opened #45 "PBclust should not have a default number of clusters"
This may be controversial, but I do not think PBclust should have a default number of clusters. While I understand that it is convenient for beginners to have a minimum of options to care about, I think the number of clusters should be chosen based on the user knowledge of the system and the problem. Having a default value for the number of clusters hides the importance of this choice.

In additio

[2015-03-14 10:43] pierrepo commented on #45
I agree.

[2015-03-17 16:35] alexdb27 commented on #45
I agree with the PBxplore's gods.
Default is good.

[2015-03-24 11:22] alexdb27 commented on #30
I've seen on http://deeplearning.net/software/theano/install.html#install ... about Enthought Python Distribution (EPD)

MacOS
There are various ways to install Theano dependencies on a Mac. Here we describe the process in detail with EPD, Anaconda or with MacPorts, but if you did it differently and it worked, please let us know the details on the theano-users mailing-list, so that we can add alte

[2015-04-09 14:28] alexdb27 commented on #45
As it had been tested ?

[2015-04-18 09:58] jbarnoud opened #47 "The `--first-issue` option of `PBcount` only accept values greater or equal to 1"
The `--first-issue` option of `PBcount` only accept values greater or equal to 1. Using a negative value raises an error:

[code]

This error is due to a test in `PBcount.py` (around line 64 to 67 in the current version):

[code]

The `--first-residue` option aims to shift the residue numbering from the PB sequence to synchronise the numbering of the count file with the PDB. While most PDB numberi

[2015-04-21 14:58] #47 closed

[2015-04-21 15:59] #45 closed

[2015-04-21 16:04] pierrepo commented on #31
Obviously, we have problems with R clustering:
- method names changed
- bugs with many conformations as reported by @alexdb27 and Sylvain

Worth looking at alternatives ? Pycluster ? Scikit-learn ?

[2015-04-21 16:09] pierrepo opened #52 "Improve defintion of color scheme in PB maps"
So far, definition of color scheme is defined in PBstats.py:

    grad = matrix(nrow=848, ncol=3)
    grad[1,1] = 20
    grad[1,2] = 20
    grad[1,3] = 232
    for(i in 2:212){
    grad[i,1] = grad[i-1,1]
    grad[i,2] = grad[i-1,2]+1
    grad[i,3] = grad[i-1,3]
    }
    for(i in 213:424){
    grad[i,1] = grad[i-1,1]
    grad[i,2] = grad[i-1,2]
    grad[i,3] = grad[i-1,3]-1
    }
    for(i in 425

[2015-04-21 16:24] jbarnoud commented on #31
Hierarchical clustering is implemented in [scipy](http://docs.scipy.org/doc/scipy/reference/cluster.hierarchy.html) and other libraries (<http://nbviewer.ipython.org/github/OxanaSachenkova/hclust-python/blob/master/hclust.ipynb>, <http://bioinformatics.org.au/tools/hclust/>), including [scikit-learn](<http://scikit-learn.org/stable/modules/generated/sklearn.cluster.AgglomerativeClustering.html#skl

[2015-04-21 18:03] jbarnoud commented on #52
If we get rid of R (#13), then the definition should be in python :wink:

[2015-04-22 08:20] alexdb27 commented on #13
One question is -i'm playing devil's advocate- that Scipy+Matplotlib also evolve. R seems quite stable, is it the same thing for both ?
We need a comparison on some simple examples...
PS: is it easy to use with Mac ?
PS2: is it not a big work ?

[2015-04-22 08:20] alexdb27 commented on #52
Is it needed now (or later) ?

[2015-04-22 08:21] alexdb27 commented on #25
Is everything ok ?
Sincerely

[2015-04-22 08:57] jbarnoud commented on #13
On 22/04/15 10:20, Alexandre G. de Brevern wrote:

Scipy and Matplotlib are quite stable and well tested. They are as easy
to install on mac as most python library as they can be installed using
pip. Being very popular python packages, they can also be installed
using package managers like macport or fink.

There are two main points at getting rid of R:

* whithout R, PBxplore will be easier to in

[2015-04-22 09:06] jbarnoud commented on #25
On 22/04/15 10:21, Alexandre G. de Brevern wrote:

6 pull requests merged yesterday. We are definitively progressing on the
matter.

[2015-04-22 09:08] pierrepo commented on #13
I agree with @jbarnoud.
Actually, R is not that stable. See for instance the issue we had recently regarding the name of the ward method to use in hclust (issue #31).
If a user is able to install numpy (major requirement for PBxplore) on his computer he will be able to install scipy and matplotlib as well.

[2015-04-22 09:11] pierrepo commented on #25
Yes. @jbarnoud had hard time in both modularizing PBxplore and testing newly created functions. PBcount.py is now modularized.

[2015-04-22 10:08] alexdb27 commented on #25
cool !!!

[2015-04-22 10:14] alexdb27 commented on #13
- One point R is stable for most of the common functions.
hclust was considered as good for more than 10 years (is it the case with Python libs such as biopython or similar, ... seems not). The Ward question is specific question.
- If scipy and matplotlib are simple to install for all, it is excellent.
- My main question is the quality of the clustering with various python libs. We need to have so

[2015-04-29 09:13] HubLot opened #57 "Issue with PBclust.py in run_demo2.sh"
In the `run_demo2.sh` script, there is an issue at the PBclust part:

[code]

It's because the number of cluster is now mandatory in `PBclust.py` (see #45) but it was not been updated in the run_demo script.

From what I have seen in the regression tests, the default number used with these inputs are 3.
I can make PR to fix that.

[2015-04-29 12:33] jbarnoud opened #59 "PBclust ask the number of cluster when --compare is used"
If PBclust is called with the `--compare` option, then the clustering is not done. There is no need to require a number of cluster.

See also #57 #58

Changes should be done after merging #56 or on the supporting branch else we risk merge conflicts.

[2015-04-29 12:34] HubLot opened #60 "Check the availability of Weblogo in PBstat.py"
For now, when launching PBstat.py whereas Weblogo software is not present, the script is launched anyway and just an error is printed, which could be easily missed.
Plus, in the README of tool, it states that Weblogo is optionnal.
From the run_demo2.sh script:

[code]

One solution could be to add a callback to the parsing of `--logo` option to test if Weblogo is present.
Since the README states w

[2015-05-01 09:12] alexdb27 commented on #60
excellent idea.

[2015-05-01 17:35] jbarnoud opened #62 "Distance martix calculation may be wrong"
This issue emerges from comments on the #56 pull request.

The pull request moves the code that build the distance matrix into a `PBlib.distance_matrix` function. I commented about this function:

@pierrepo replied and highlighted an other issue n the same function:

The same normalization in used in the code that convert a similarity-score-expressed substitution matrix to a single digit distance-

[2015-05-01 17:49] jbarnoud opened #63 "Substitution score from or to Z is 0"
As noted in a comment to #56, the substitution score from and to the Z dummy block is always 0. This is used in `PBclust` to build the distance matrix, and to compare sequences with the `--compare` option.

To this, @pierrepo commented:

How to we want to handle substitution from and to the Z dummy block ? The obvious way, as suggested by @pierrepo is to raise an exception. Yet, this means that we

[2015-05-01 17:56] jbarnoud commented on #60
Fixed by @HubLot  with PR #61.

[2015-05-01 17:56] #60 closed

[2015-05-01 17:57] jbarnoud commented on #57
Fix by @HubLot with PR #58.

[2015-05-01 17:57] #57 closed

[2015-05-01 18:02] jbarnoud commented on #62
See http://emboss.sourceforge.net/apps/release/6.6/emboss/apps/distmat.html

[2015-05-02 05:52] alexdb27 commented on #63
I think we can use the "gapopen" value used for structural alignement if a real PB is in front of Z, while it is zero if Z in front of Z. cc @pierrepo @jbarnoud

[2015-05-02 09:17] alexdb27 commented on #62
The substitution matrix (SM) is computed in a very classical way as done originally by Dayhoff (1978) or more recently for the Blosum, PAM, Gonnet, etc. SM for amino acids. The computation cannot be more simple and was presented in our first paper in Proteins 2006, 2008 or more recently the new SM in Biochimie 2011.
The fact that ZZdddddZZ aligned with itself as not the same values that ZZeeeeeZZ

[2015-05-02 09:19] alexdb27 commented on #62
Nonetheless, the point is very intersting cc @pierrepo @alexdb27.

[2015-05-02 09:36] jbarnoud commented on #62
On 02/05/15 11:17, Alexandre G. de Brevern wrote:

Sorry. I meant that the **distance matrix** is not computed in a
appropriate way.

[2015-05-02 09:37] alexdb27 opened #64 "PB-k means something / hc issue"
Hello, cc @pierrepo @jbarnoud @HubLot

as suggested by the Ammmmmaaaaaaziing Spider @jbarnoud, i open a new issue.
I'm a big fan of hierarchical clustering (hc) as it is visually very simple to handle. Nonetheless, i've express in other issues as #62 #63 the fact that hc is perhaps not appropriate when we have thousands of snapshots to compare.
With hc, you need to compare N x (N-1 / 2) to create

[2015-05-02 09:39] alexdb27 commented on #62
Sorry, @jbarnoud , i've read it a little bit fast.
In fact if i remember well, most of the time, diagonal is not computed at all, it is set directly at ... zero ...

[2015-05-02 22:11] pierrepo commented on #62
@jbarnoud the clustering part of PBxplore has never been used in any paper so far. No need to keep a legacy (wrong?) function.

@alexdb27 could you give us a clear answer on the two points below?
- Normalization function must be

    distance_mat = 1 - (distance_mat - mini)/(maxi - mini)
    instead of
    distance_mat = 1 - (distance_mat + abs(mini))/(maxi - mini)

- Which value to we put in the

[2015-05-02 22:13] pierrepo commented on #63
OK. How much is a gapopen value ?

[2015-05-02 22:18] pierrepo commented on #64
Hello,

I agree that k-means clustering is very interesting.

Concerning hierarchical clustering, Python might deal with memory differently from R and could be able to deal with a lot of conformations.

I propose that we implement the clustering with the hierarchical clustering in Python first and then try the k-means clustering.

[2015-05-04 12:29] HubLot commented on #64
For the clustering in Python, another library for the clustering in Python is [scikit-learn](http://scikit-learn.org). It's quite a dependency but it provides more [clustering methods](http://scikit-learn.org/stable/modules/clustering.html) (at least k-means which scipy doesn't have). It's worth testing.

The critical point of going to Python (scipy or scikit-learn) is to have the same results as

[2015-05-04 15:01] HubLot commented on #64
At least, on `psi_md_traj_1.pdb`, scikit-learn & R gave the same results (just did a quick test)

[2015-05-04 15:02] jbarnoud commented on #64
On 04/05/15 17:01, Hub wrote:

That's cool! Could you paste the code of your test? Knowing you it may
even be a notebook...

[2015-05-04 15:27] HubLot commented on #64
Indeed, here it is: http://nbviewer.ipython.org/gist/HubLot/9e0f76bc987489aedabe

The downside, for now, is it's not possible to have directly medoid in scikit-learn. I search for an alternative way

[2015-05-04 16:03] jbarnoud commented on #64
Cool !

I added scipy to the notebook and it gives the same clusters as the others for 3 clusters. For 4 clusters, however, scipy and scikit-learn agree with each other but R disagrees a bit.

http://nbviewer.ipython.org/gist/jbarnoud/7e9ea4362e948fe41dea

[2015-05-04 16:27] HubLot commented on #64
Interesting.
I computed the medoids in the same way as the R script. I updated the gist

[2015-05-04 16:31] alexdb27 commented on #64
Concerning the 850 ns... it works ...it works ...it works ...it works ... night and day without any core dumped / crash or output...
My guess, RAM issue for R

[2015-05-04 16:32] alexdb27 commented on #63
-600 !!!
Ok, it is x 100 ...

[2015-05-04 18:20] jbarnoud commented on #64
I updated my notebook to include your medoid function. I also increased the number of requested clusters to 5, showing more discrepancy between scipy and scikit-learn on one side, and R on the other side.

It should be noted that I use R version 2.14.1 (2011-12-22) that only have the 'ward' method.

[2015-05-04 19:17] jbarnoud opened #66 "PBclust is not compatible with most recent versions of R"
New versions of R need hclust methods to be set to 'ward.D'  instead of just 'ward'. We should support these newest versions of R. We should keep supporting older one, though.

[2015-05-04 19:27] jbarnoud commented on #64
I updated my notebook again to use the newest version of R (3.2.0 (2015-04-16)). The 'ward.D2' method gives an even more different result.

Also, I encounter issue #66.

[2015-05-04 20:40] HubLot commented on #64
Ouch...
By looking the [source code](https://github.com/scikit-learn/scikit-learn/blob/bb39b49/sklearn/cluster/hierarchical.py), the ward Hclust in scikit-learn is based on the scipy one, hence the same results. But for R...
After digging a little bit, maybe we miss used scipy/sklearn, see:
http://stackoverflow.com/questions/18952587/use-distance-matrix-in-scipy-cluster-hierarchy-linkage/18954990#

[2015-05-05 06:17] alexdb27 commented on #64
Ask Matthieu G., he had the files ...
PS: it is not Ali G. [you can found 7 differences)

![alig](https://cloud.githubusercontent.com/assets/9799280/7467726/21bfc878-f2ff-11e4-8ba3-6b8153bec2e1.png)

[2015-05-05 06:18] alexdb27 commented on #66
New one !!!

[2015-05-05 06:18] alexdb27 commented on #66
By default I prefer we set on complete
[not big fan of linkage]

[2015-05-05 07:25] HubLot commented on #66
The issue appears with the version 3.03 ([link](https://stat.ethz.ch/R-manual/R-patched/library/stats/html/hclust.html)):

[2015-05-05 09:24] HubLot commented on #66
Regarding the issue #31 and comments of @alexdb27, the ward.D2 method should be use in R with versions > 3.0.3.
For versions <= 3.0.3,  the distance matrix has to be squared before calling the function and set the keyword `method` to `ward`.
This will give the same results: see this [example](http://nbviewer.ipython.org/gist/HubLot/7f0824c33d0b200bb10b).

The only issue is in the calculation of me

[2015-05-05 09:25] HubLot commented on #64
Thanks.
About the R methods, see #66

[2015-05-06 09:14] HubLot commented on #64
To sum up the results about hierarchical clustering in R vs Python (scipy), I made a [notebook](http://nbviewer.ipython.org/gist/HubLot/aef0ecd56f40ec2ceaab).

Basically:
 - matrix input of scipy functions are different from R.
 - Ward with distance matrix in scipy is not possible.
 - average & complete gave the same results for R and scipy.

[2015-05-06 10:33] jbarnoud commented on #64
Great test! I am quite disappointed about scipy but there are other options to use ward with python outside of scipy. The question now would be what criterion should we use to compare the clustering methods and figure out which one is the more appropriate?

[2015-05-06 12:03] HubLot commented on #64
I updated the notebook with scikit-learn as the input is different. This doesn't change the conclusion.
I agree with the questions raised by @jbarnoud

[2015-05-06 12:24] alexdb27 commented on #64
Excellent work @HubLot , I really like your notebook.
What is nice with Ward is the fact that the clusters are well balanced.
What is nice with average is the fact that clusters are really based on a "natural rule", i.e., what is close is close in terms of simple distance.
Complete is not too far away from this one.
I'm not a big fan of single linkage as it is like onion and onion makes me cry lik

[2015-05-06 15:45] pierrepo commented on #64
Very nice notebooks @jbarnoud and @HubLot
Since the complete method gives the same results for HC in R, Python/scipy and Python/scikit-learn, I propose we implement the Python/scipy method in PBxplore (this is Python and it has less dependancies than Python/scikit-learn).

However, I am not sur hierarchical clustering is the best clustering method here. As mentionned by @alexdb27, it is

but I am

[2015-05-06 16:42] alexdb27 commented on #64
Both !!!!

[2015-05-07 12:03] HubLot commented on #62
I would like to mention that for the hierarchical clustering in R, the value of the diagonal doesn't matter (either min or 0) and in scipy/scikit-learn, it has to be set at 0.

[2015-06-24 08:48] jbarnoud commented on #66
I implemented what @HubLot described in its previous comment. The branch is available here: <https://github.com/jbarnoud/PBxplore/tree/compatR>.

By doing so I get the expected behavior based on @HubLot notebook. Yet, this means the tests breaks as the result with the squared distance matrix is different from the one with the raw matrix. I need a go from @pierrepo, and perhaps @alexdb27, before I

[2015-06-24 09:06] pierrepo commented on #66
This is a nice work.
However, I am wondering if it would be easier to totally remove R from the clustering process...
We could then concentrate our efforts on only one implementation (Python) but with two available methods (HC and k-means) as stated in issue #64 .
What do you think?

[2015-06-24 09:07] pierrepo commented on #66
Of course, we can merge this branch.
And next implement Python clustering.

[2015-06-24 09:16] jbarnoud commented on #66
I need to change the tests before the branch can be merged. I'll send a pull request when it is done (also, I forgot the case of a user asking for 'ward.D').

About concentrating the efforts on the python implementation, I tackled the ward issue because it causes compatibility issues between versions of R. But the big picture on PB clustering is bothering me a little. We kind of pick clustering me

[2015-06-24 09:22] pierrepo commented on #66
I agree. Let's do this step by step.
Get rid with R issue first.
Then, implement clustering with Python. We can do a quick benchmark but mainstream methods such as HC and k-means should be fine.
Also one option could be to prepare data for clustering and then let the user implement his/her method of choice. We can of course provide example / demo with few clustering methods.

@alexdb27 and @HubLot

[2015-06-25 15:15] alexdb27 commented on #66
@pierrepo @jbarnoud
I think your view is the right one. I think k-means is probably the simplest to use.
Hclust will need a large amount of memory for 100s ns traj, won't it?
 @HubLot

[2015-06-25 16:24] HubLot commented on #66
I agree of doing this step by step and have a benchmark.
The distance matrix for Hclust will require a large amount of memory for trajectories. In fact, in the way of the calculation (for the distance matrix) is done now, it will crash.
With the k-means algorithm, the issue raised is how to define an "average" sequence which will represent the center of the group? We discussed about it with @alexd

[2015-06-29 22:01] jmaupetit opened #67 "Consider using docker to ease installation, distribution and OS compatibility"
Please share your thoughts about [dockerizing](https://www.docker.com/whatisdocker) PBxplore and push your container to the official [docker registry](https://registry.hub.docker.com)?
It would be nice to be able to use it after a simple :

    $ docker pull pierrepo/pbxplore

Like:

    $ docker run pbxplore PBassign.py -p demo1/3ICH.pdb -o 3ICH

If you are interested, I can help with that.

[2015-07-02 13:05] alexdb27 commented on #67
works (in principle) with all OS or needs specific libraries ?

[2015-07-02 13:41] jmaupetit commented on #67
Docker works in all OS, see https://docs.docker.com/installation/

[2015-07-06 08:01] jbarnoud commented on #67
I have plans to edit a docker file at one point after I write a setup.py. I would be very happy if someone else could do it, though.

[2015-07-06 10:58] pierrepo commented on #67
Thank you for your suggestion @jmaupetit .
However, as mentioned by @jbarnoud, we are currently focusing on the distribution of PBxplore through Pypi.
I guess docker will be the next step ;-)

[2015-07-06 11:20] alexdb27 commented on #67
Excellent !

[2015-07-07 09:18] HubLot commented on #62
I re-open this thread because I'm trying to optimize the computation of the distance matrix.

So far so good, my method is between 6-8 times faster to the previous one (thanks to [pdist method](http://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.spatial.distance.pdist.html)). I compute only the condensed matrix (i.e upper triangle of the matrix) and with [squareform method](http://doc

[2015-07-07 09:28] jbarnoud commented on #62
So far, the matrix is normalized using the minimum distance that must be
on the diagonal. This, of course, assume that the distances are computed
for the diagonal. Doing so, the values on the diagonal should be close
to 0 on the diagonal, after normalization. Some cells from the diagonal
(at least 1) should be 0 after the normalization, the other ones are set
to 0 afterward.

You cannot use a valu

[2015-07-07 09:46] pierrepo commented on #62
Funny, I send a mail to @alexdb27 about this point yesterday ;-)

So far, similarity scores between sequences are computed for the full matrix (diagonal included).
Values on the diagonal are then set to the minimum value found in the matrix (that is necessary on the diagonal).
Finally, the distance is computed, but bare in mind we need the min and max value of the score matrix to compute the dista

[2015-07-07 10:00] HubLot commented on #62
Okay, I see your points. Indeed, the normalization should be done through the minimum value of the diagonal, it makes sense.
I'll see how i can compute the diagonal.

[2015-07-07 10:26] pierrepo commented on #62
Guys, I am puzzled about something.

From the substitution matrix, we have:
score(d/d) =  221
score(j/j) =  768
score(k/k) =  568
score(j/k) =  196
score(j/d) = -173
score(d/k) = -585

Say we have three sequences: ZZdddZZ, ZZjjjZZZ and ZZZjjkZZZ.

Scores between sequences are:
score(ZZdddZZ/ZZdddZZ) = 663
score(ZZjjjZZ/ZZjjjZZ) = 2304
score(ZZjjkZZ/ZZjjkZZ) = 2104

score(ZZjjjZZ/ZZjjkZZ) = 1721
sc

[2015-07-07 11:01] HubLot commented on #62
Yes, it seems we need to set to the maximum, hence  `distance = 1 - (score -mini)/(maxi - mini)` would equal 0.
Plus in the code, the formula is still:  `distance = 1 - (score + abs(min))/(maxi - min)`
But, what happens if the maximum is not on the diagonal? The distance on the diagonal will not be set to 0...

[2015-07-07 11:15] pierrepo commented on #62
I guess the maximum of the score matrix is necessary in the diagonal. @alexdb27 could you comment on this?

I am aware the formula to compute the distance is wrong in the code. I would like to correct this today.

[2015-07-07 11:19] jbarnoud commented on #62
On 07/07/15 13:01, Hub wrote:

Before the normalization, we compute a similarity matrix. I cannot see a
case where the maximum value is not on the diagonal. Do you ?

[2015-07-07 11:23] pierrepo commented on #62
@jbarnoud +1

[2015-07-07 11:28] HubLot commented on #62
I don't see either but could it worth a test case/check in the code?

[2015-07-07 11:32] pierrepo commented on #62
I'll add a very simple test.
Maybe @alexdb27 can confirme to us that the maximum is always on the diagonal?

[2015-07-07 11:32] alexdb27 commented on #62
A distance matrix is a matrix with distance. So, the diagonal must be at zero.

I propose a little game:

663	  -519	  -931
-----    2304	1721
----- -------	2104

second step:
663	-519	-931
-519	2304	1721
-931	1721	2104

third step:
1594	412	0
412	3235	2652
0	2652	3035

fourth step:
0	1182	      1594
2823	0	583
3035	383	   0

fifth and last:
0	4005	4629
----	0	966
----	----	0

Sincerely

[2015-07-07 11:33] alexdb27 commented on #62
PS: you write too fast @pierrepo @jbarnoud @HubLot

[2015-07-07 11:35] pierrepo commented on #62
@alexdb27 I did not really understand the little game ;-(
I agree the diagonal of a distance matrix must be 0 but we are not sure how to compute the distance of other parts of the matrix.

[2015-07-07 11:36] jbarnoud commented on #62
On 07/07/15 13:28, Hub wrote:

@HubLot I have a test version were I check with assertions that the
diagonal is 0 (because I do not set it explicitly), that there is no
negative values, and that that the maximum value is 1.

@alexdb27 @pierrpo Careful not to confuse the similarity matrix we get
from the substitution matrix (where the maximum value should be on the
diagonal) with the distance matrix

[2015-07-07 11:38] jbarnoud commented on #64
After we discussed about it with @alexdb27 and @HubLot, I started to implement the k-means.

[2015-07-07 11:54] alexdb27 commented on #62
Thhe little game is the principle to normalize it in a simple way:

1- the data :

663 -519 -931
----- 2304 1721
----- ------- 2104

second step, simply do the matrix
663 -519 -931
-519 2304 1721
-931 1721 2104

third step, in regards to the diagonal, you "positive" the matrix (it is a question , must it be the matrix or the column. I've some personal question to myself)
1594 412 0
412 3235 2652
0

[2015-07-07 11:55] alexdb27 commented on #62
@pierrepo I hope it explain you how i see the question

@jbarnoud @HubLot it is too funny !!

[2015-07-07 13:15] pierrepo commented on #62
@alexdb27 Sorry I did not understand steps 4 and 5...

[2015-07-07 13:44] alexdb27 commented on #62
what !!

https://www.youtube.com/watch?v=iCrargw1rrM

[2015-07-07 13:50] alexdb27 commented on #62
4th, we take the first line:

 1594 412 0 => (a) minus the max give 0	-1182 -1594
(b) then abs => 0	1182	1594

5th step, you have a non-symetric matrix so you add the symetrical cell to the one upper.

we have 0	1182	1594
2823	0	583
3035	383	0

so we want a half matrix
(0,0) (0,1) (0,2)
-----   (1,1) (1,2)
----- ------  (2,2)

(0,1) is the sum of (0,1) and (1,0) 1182+2823=4005
(0,2) is the sum of

[2015-07-07 14:17] #59 closed

[2015-07-07 14:46] #25 closed

[2015-07-27 17:51] alexdb27 commented on #52
had it been done ?

[2015-08-18 17:59] pierrepo commented on #52
I am currently dealing with this issue. Here are the requirements for the improved color scheme :
- sequential, since we want to pinpoint PBs with highest frequencies
- colorblind-friendly

[2015-08-20 16:27] pierrepo commented on #52
Color scheme for PB frequencies map has been taken from ColorBrewer :
http://colorbrewer2.org/?type=diverging&scheme=RdYlBu&n=5

- diverging color scheme for a better contract between PB with high frequencies and PBs with low frequencies.
- colorblind safe

Now in the get_rid_of_R branch.

[2015-08-21 10:07] pierrepo commented on #64
Hi @jbarnoud. It is OK with the k-means implementation?
I'd like to get ride of R as soon as possible.

[2015-08-22 10:55] #62 closed

[2015-08-25 12:50] alexdb27 commented on #64
https://pl.wikipedia.org/wiki/Kmin_rzymski a new implementation ?

[2015-08-25 12:51] alexdb27 commented on #52
Do you have enough variations for the colors?

[2015-08-25 14:28] pierrepo commented on #52
Yes, it should.
I transformed the discrete color scheme taken from [ColorBrewer](http://colorbrewer2.org/?type=diverging&scheme=RdYlBu&n=5) to a continuous colormap.

[2015-08-28 09:23] alexdb27 commented on #13
So, where are we now ??

[2015-08-28 10:25] pierrepo commented on #13
Regarding graphics, we are almost done. PBs distribution map is now in Python (see issue #52 ) and Neq vs sequence will soon be in Python too.
The last point is the clustering. Maybe we could implement just one clustering method in Python (hclust or k-means). Ping @jbarnoud ?

[2015-09-10 14:16] #52 closed

[2015-09-14 08:45] HubLot opened #68 "MDAnalysis select_atoms() error"
Hi,

With the commit 48bc2bdd  and MDAnalysis version 0.10, I have the following error :

[code]

This is due to a change in the API of MDAnalysis in their last version (0.11): https://github.com/MDAnalysis/mdanalysis/wiki/MDAnalysis-0.11-unifying-release-user-guide
The method `selectAtoms` in version < 0.11 become `select_atoms` with versions >= 0.11

I think we need to support both versions sinc

[2015-09-14 09:09] pierrepo commented on #68
@HubLot I'm not a big fan of keeping legacy functionalities.
Could we instead modify the file dev_requirements.txt to require MDAnalysis >= 0.11?
That would be much  easier.
An extra check of the MDAnalysis version in the code would also strengthen the thing.

[2015-09-14 09:33] jbarnoud commented on #68
I am usually in favour of keeping compatibility with the penultimate version of a library. Yet, in this case I would go with @pierrepo :

* version 0.11 of MDAnalysis is a complete overhaul of the library API, if we want to do anything else with MDAnalysis and keep it compatible with its previous version, then we will need to care about a lot of compatibility tweeks;
* by the time PBxplore actuall

[2015-09-14 09:41] HubLot commented on #68
Okay guys, you are right :) Let's support only versions >= 0.11
I will modify the dev_requirements.txt and README.
It will be added also in the setup.py once PBxplore is packaged

[2015-09-14 09:44] #68 closed

[2015-09-14 10:51] jbarnoud opened #71 "Demo1 and demo2 are not explicit names"
Demo1 and demo2 are not explicit names. There is no way to know what are the demos about without reading or running them.

I suggest to rename demo1 into demo_assignation, and demo2 into demo_analysis. I do not know if the names are the best suitable, though.

[2015-09-14 13:57] pierrepo commented on #71
It's good comment.
The idea behind _1 and _2 was to insist on the fact that you to need to know how to assign PBs before performing any stats.
Here is my proposal :
- demo1 -> demo1_assignation
- demo2 -> demo2_statistics + demo2_clusters

Since the clustering part is often slow, it could be nice to separate statistics from the clustering.
What do you think?

[2015-09-17 12:20] jbarnoud commented on #71
Looks good to me.

[2015-09-17 12:29] jbarnoud opened #73 "Weblogos are only available in PDF format"
PBstat only produce weblogo in PDF format while the weblogo program can produce a large variety of formats. A `--logo-format` option would allow to choose the file format to produce.

While PDF is the best format for logos in most case, it is difficult to embed in other documents (including ipython notbooks).

[2015-09-17 12:57] jbarnoud commented on #64
Hey ! Here is a prototype of K-means for PBxplore: <https://gist.github.com/jbarnoud/fc27c5048d6e8f394598>

This notebook implements the K-means algorithm and tries to visualize the clusters that are produced. I am looking for a way to validate the validity of the clustering. Any idea?

@pierrepo @alexdb27 @HubLot

[2015-09-17 13:16] HubLot commented on #73
+1 !

[2015-09-17 14:38] pierrepo commented on #73
I would like to minimize the number of possible options in PBxplore.
Adding an option to choose a logo format implies the implementation of tests that the format provided is correct. We did not implement such a thing for Neq and PBs map (matplotlib can generate many ouput formats too).
I suggest we produce WebLogo in png format with a good resolution, as we do for Neq and PBs map. This will certai

[2015-09-17 14:47] jbarnoud commented on #73
On 17/09/15 16:38, Pierre Poulain wrote:

Testing that the format is correct is built into argparse. In the PR,
the test for the format is there; it is right in the definition of the
--logo-format option.

I did not think about the other outputs. I think it is good to be able
to choose the file format of the pictures. PNG is the most useful while
we do explore, yet a lot of journals ask for EPS or

[2015-09-17 14:54] pierrepo commented on #73
Grrr.
OK for an --image-format option. But :
- only .pdf, .png and .jpg.
- eps can be obtained from pdf (and we are not in the XXe century anymore).
- png is the default format.

All good?

[2015-09-17 15:36] jbarnoud commented on #73
Done. See #74

[2015-09-17 21:52] #73 closed

[2015-09-18 13:06] #71 closed

[2015-09-23 07:17] jbarnoud commented on #64
I updated the K-means notebook 2 days ago but I don't know if you got notified.

@pierrepo @alexdb27 @HubLot

[2015-09-25 13:59] HubLot opened #78 "Generate weblogo images through weblogo API instead from weblogo binary"
From the weblogo documentation (http://weblogo.threeplusone.com/manual.html), there is an python API to generate weblogo images.
I think it will be more easier to us to create images from the API instead from the binary. It will spare us a call from the command line.
Plus, from what I seen the API can handle numpy array. If it's possible, the conversion to the transfac format will be no longer nec

[2015-09-25 15:58] HubLot commented on #78
With a little diging, here a notebook that use the API to generate the good image: https://gist.github.com/HubLot/e0078a4f5ebe77c3f1d2

[2015-09-28 16:44] HubLot commented on #78
Solved in the commit 54daa75 in the pull-request #77

[2015-09-28 16:44] #78 closed

[2015-10-06 13:21] jbarnoud opened #81 "Document the API"
With @HubLot  work, the API starts to look like a proper API. Yet, it should be documented or it will be unusable by others.

I suggest to build the doc interactively. First we should have a reference documentation built on the docstrings, then we could add examples in the form of notebooks, finally we should add some narrative doc.

I suggest to use sphinx to generate the doc. The doc can be host

[2015-10-06 14:19] pierrepo commented on #81
At first, I would prefer we write notebook user cases.
I want to be sure the fresh API that has just been release is robust and easy-to-use.

[2015-10-06 14:27] jbarnoud commented on #81
The steps do not have to follow a particular order. I actually started with notebooks as they are funnier to do...

[2015-10-06 14:30] pierrepo commented on #81
;-)

[2015-10-07 08:59] jbarnoud commented on #81
Being able to install PBxplore using a `setup.py` script (#21) would ease greatly the notebooks.

[2015-10-07 10:07] HubLot commented on #81
It's on my top priority :)

[2015-10-07 11:50] jbarnoud opened #83 "pbxplore.assign is overwritten"
Following #80, the function `pbxplore.assign` overwrite the module `pbxplore.assign` in `pbxplore.__init__.py`. A solution would be to rename the module `assignment`.

cc @HubLot

[2015-10-07 12:04] HubLot commented on #83
Indeed, I did not realize this bug when doing the modularization.
I will submit a PR

[2015-10-07 15:31] jbarnoud opened #85 "pbx.io.fasta._write_fasta_entry should be exposed in the API"
`pbx.io.fasta._write_fasta_entry` is a convenient function. It should be public and exposed by the API.

`pbx.io.write._write_phi_psi_entry` could be public too.

[2015-10-08 12:40] jbarnoud opened #87 "Document the dependancies for the concerned functions"
As mentioned in #86, it should be clear in the doc of each function that depends on an optional dependency what that dependency is.

[2015-10-09 14:24] HubLot commented on #83
Fix in #84

[2015-10-09 14:25] HubLot commented on #85
fix in #88

[2015-10-11 22:46] jbarnoud opened #90 "Set Readthedocs"
See pull request message in #82.

Can only be done by @pierrepo .

[2015-10-11 22:47] jbarnoud opened #91 "Links to alternate notebook versions are broken in API doc"
See #82

[2015-10-11 22:48] jbarnoud opened #92 "Typos in the API doc break cross references"
See #82

[2015-10-12 10:15] #83 closed

[2015-10-12 10:16] #85 closed

[2015-10-12 21:15] #81 closed

[2015-10-12 21:15] #91 closed

[2015-10-12 21:15] #92 closed

[2015-10-13 14:40] pierrepo commented on #90
I have an error with RTD:
https://readthedocs.org/projects/pbxplore/builds/3395010/

It seems numpy is not installed with MDAnalysis?

[2015-10-13 15:05] jbarnoud commented on #90
Did you set the install of the requirements from `doc_requirements.txt`?

[2015-10-13 15:17] jbarnoud commented on #90
@pierrepo  look at the pull request description in #82 for all the options to set

[2015-10-13 15:22] pierrepo commented on #90
@jbarnoud No!
Now yes, but:
https://readthedocs.org/projects/pbxplore/builds/3396374/

[2015-10-13 15:25] jbarnoud commented on #90
* requirements must be installed from `doc_requirements.txt`
* the system sipe-package must be accessible
* PDF doc must be deactivated

[2015-10-13 15:36] pierrepo commented on #90
http://pbxplore.readthedocs.org/en/latest/ ;-) Thanks @jbarnoud

I found the doc process a bit complicated. I that normal?

[2015-10-13 15:40] jbarnoud commented on #90
There were 3 important points to setup. But they were to setup only once. Now the doc should build automatically at each commit.

[2015-10-13 15:48] #90 closed

[2015-10-16 09:03] HubLot opened #95 "folder demo_paper"
Is this folder still needed/used ? I don't see where in the files.
If not, it can be removed.

[2015-10-16 10:24] pierrepo commented on #95
This folder is /was a case study to explain PBxplore functionalities in the research paper we are going to publish.

I have to update it with all the modifications we made.

Le 16 octobre 2015 10:03:05 GMT+01:00, Hub <notifications@github.com> a écrit :

--
Pierre Poulain
http://cupnet.net

[2015-10-16 11:31] HubLot commented on #95
Okay. I was cleaning the depot for the packaging and I was wondering.

[2015-10-16 13:04] HubLot opened #97 "Regroup demo files ?"
In order to clean up the repository, would you agree to move all demo files (`run_demo*`, `demo_*`) into one and only `demo` (or `example`) folder ?

[2015-10-16 16:34] jbarnoud commented on #97
Demo file are used for the demo themselves but also for the doc. I would not mind having the demo files as part of the package and somehow available through the API. Maybe just with a `pbxplore.DATA_PATH` constant. The demo scripts should remain rather simple, though.

[2015-10-18 11:57] jbarnoud commented on #97
Here is a suggestion about what to do with the demo files.

Demo files could be moved in `pbxplore/data`. All together, without the split by demo (no demo1 or demo2 sub-directory). A file `pbxplore/data/__init__.py` would expose a `DATA_PATH` constant that could be imported in the `pbxplore` main module. A `pbxplore.data.list_data` function could list the data files available. Finally, a `PBdata`

[2015-10-18 21:16] pierrepo commented on #95
However, the demo_paper folder should be outside the package.

[2015-10-18 21:21] pierrepo commented on #97
OK with that.
But I would prefer that DATA_PATH becomes DEMO_DATA_PATH to make clean that these data are for demo purpose only (and also tests). In contrast, we have other data that belongs to the core of PBxplore (i.e. PBs_substitution_matrix.dat)

[2015-10-20 16:27] TJRnarwani opened #100 "Cannot_Generate_Plots_Using_PBstat.py"
Hi
I tried generating stats from my PB.count file but the script PBstat.py breaks with an error:

"Traceback (most recent call last):
  File "PBstat.py", line 202, in <module>
    pbstat_cli()
  File "PBstat.py", line 170, in pbstat_cli
    pbx.analysis.plot_map(file_fig_name, count, residue_min, residue_max)
AttributeError: 'module' object has no attribute 'plot_map'"

Is there something which I

[2015-10-20 17:27] jbarnoud commented on #100
`PBstat` should check for matplotlib.

[2015-10-20 17:41] TJRnarwani commented on #100
@jbarnoud Thanks, it worked.. :100:
:+1

[2015-10-26 09:27] jbarnoud opened #101 "Update the install documentation"
The install documentation is out of date. Especially now that PBxplore can be installed with pip. We should update this doc.

(This issue is part of the split of #30)

[2015-10-26 09:34] jbarnoud opened #102 "Create package for Anaconda"
Anaconda is a python distribution for science and data analysis uses. It is growing in popularity as it allows to set up a scientific stack for python quite easily. We could have a package for that distribution. See <http://conda.pydata.org/docs/build_tutorials/pkgs.html>.

In #30, @alexdb27 suggested a package for Ethough Python Distribution (now Enthough Canopy). I did not find if it is possible

[2015-10-26 09:35] jbarnoud commented on #30
I split this issue in #101 and #102 to have only one issue per topic.

[2015-10-26 09:35] #30 closed

[2015-10-26 09:36] jbarnoud commented on #95
The question is answered so I close the issue.

[2015-10-26 09:36] #95 closed

[2015-10-26 09:37] jbarnoud commented on #21
Fixed by #96

[2015-10-26 09:37] #21 closed

[2015-10-26 09:37] jbarnoud commented on #97
Fixed by #99

[2015-10-26 09:37] #97 closed

[2015-10-26 09:43] jbarnoud opened #103 "Get a doi"
Before submission, PBxplore should have a DOI.

https://guides.github.com/activities/citable-code/

[2015-10-26 09:45] jbarnoud commented on #13
The only remaining dependancy to R is the clustering that we will revamp anyway. I set this issue as a duplicate of #64 and close it.

[2015-10-26 09:45] #13 closed

[2015-10-26 09:46] jbarnoud commented on #31
We will fix this issue by using k-means rather than hclust. See #64. I close the issue.

[2015-10-26 09:46] #31 closed

[2015-10-26 09:47] jbarnoud commented on #66
This is made obsolete by #64. I close the issue.

[2015-10-26 09:47] #66 closed

[2015-10-26 10:27] jbarnoud opened #104 "Document the limitation of the PDB and PDBx parsers"
I discussed with @alexdb27 last week and he expressed concerns that users could use PBxplore on strange PDB inputs without taking the parsers limitation into account. This would lead to odd results citing PBxplore.

One way to prevent, or at least mitigate, this would be to document that the PDB and PDBx parsers do not handle all the oddities that PDB files can contain.

[2015-10-26 10:34] jbarnoud opened #105 "Doc is broken on Read the docs"
Since PBxplore is packaged, the doc is broken on Read the docs. This is because the doc needs PBxplore to be installed. Fixing this issue required to tick the option "Install your project inside a virtualenv using setup.py install" in the "Advanced settings" in Read the docs.

Only @pierrepo can do this.

[2015-10-26 22:30] pierrepo commented on #105
Done!

[2015-10-26 22:30] #105 closed

[2015-12-03 09:24] HubLot opened #108 "Travis build for doc fails"
On the 2 last PR, the travis build for documentation failed at the same point.
See the log here: https://travis-ci.org/pierrepo/PBxplore/jobs/94493725
It appears it can not install pandoc through cabal due to conflicts with the dependencies

Note that test builds succeed

[2015-12-03 12:31] HubLot commented on #100
issue can be closed thanks to PR #107

[2015-12-03 12:41] HubLot commented on #108
solved in #109

[2015-12-03 12:41] #108 closed

[2015-12-04 08:21] #100 closed

[2016-02-01 09:16] HubLot opened #111 "Travis failed when building the doc"
Travis cannot install pandoc for building the documentation.
Here the log:

[code]

I think it's due again to cabal and that the default version of pandoc installed through it has changed again. (see the previous issue #109)
I'm on it

[2016-02-01 09:50] jbarnoud commented on #111
With the update of Ubuntu on Travis (now ubuntu precise), the installed version of pandoc (or the version available with apt-get) should be recent enough. We may not need to use cabal any more.

[2016-02-01 11:05] HubLot commented on #111
Nop, with precice, the pandoc version available is 1.9. The "--filter" option we used required pandoc >= 1.12.
We still stuck with cabal :(

[2016-02-01 13:24] HubLot commented on #111
So, the issue is that cabal cannot solve the dependencies to install pandoc: either the last one 1.16 or the previous one we used 1.15.X
So far everything I tried failed:
  - Use the pandoc version from the repository: doesn't work due to a too old version (see my previous message).
  - add the `--max-backjumps=-1` to the cabal command line (`cabal install pandoc --max-backjumps=-1`) to search exh

[2016-02-01 14:03] jbarnoud commented on #111
I made it work! The trick is to install the right version of resourcet to help the resolution of the dependencies. See <https://github.com/jbarnoud/PBxplore/blob/fix-cabal/doc/source/install_pandoc.sh> and <https://travis-ci.org/jbarnoud/PBxplore/jobs/106213180>.

[2016-02-01 14:11] HubLot commented on #111
youhou!

[2016-02-01 14:24] jbarnoud commented on #111
For future reference, I saved the travis log in a gist <https://gist.github.com/jbarnoud/6a1436ff6f0e44c79bcb> in the mess of that log are the version of everything cabal installed.

[2016-02-01 21:56] #111 closed

[2016-02-02 09:30] HubLot commented on #87
fix in #110

[2016-02-02 09:30] HubLot commented on #101
fix in #110

[2016-02-02 12:30] #101 closed

[2016-02-02 12:30] #87 closed

[2016-03-17 06:24] pierrepo commented on #67
Probably worth looking: BioShaDock: a community driven bioinformatics shared Docker-based tools registry (http://f1000research.com/articles/4-1443/)

[2016-03-31 15:33] pierrepo opened #117 "Remove --flat option"
Add in documentation one way to flatten fasta file.
For instance:
cat toto.PB.fasta | sed "s/^>.*/\t/" | tr -d "\n" | tr "\t" "\n"

Remove all related unit tests and test files.

[2016-03-31 15:35] pierrepo opened #118 "Remove --phipsi option"
Add in documentation a short Python script that produces phi/psi angles.

Remove all related unit tests and test files.

[2016-04-04 13:30] #117 closed

[2016-04-07 12:23] HubLot commented on #22
https://pypi.python.org/pypi/pbxplore

[2016-04-07 12:23] #22 closed

[2016-04-08 09:48] #118 closed

[2016-04-08 10:13] pierrepo commented on #64
@HubLot and @jbarnoud you did a great job on this issue.
PR #106 is implementing the k-means method.
In order not to lose the work you previously did on hc clustering. Could please add to PBxplore a simple Notebook explaining how to make hc clustering with the PBxplore API and either Scipy or scikit-learn?
I could be a simple reformating of this Notebook:
http://nbviewer.jupyter.org/gist/jbarnoud/

[2016-04-11 09:02] pierrepo opened #121 "Remove test dir from PyPi package?"
Dear all,
I've experienced very slow uploads of new releases of PBxplore to PyPi with my local internet connection. The final package is about 16 Mo on PyPi:
https://pypi.python.org/pypi/pbxplore/1.3

In order to lighten the package size, could we consider removing the test directory (test scripts + test data) from the PyPi distribution system?
I believe this test directory is made for development

[2016-04-11 09:13] jbarnoud commented on #121
I like that streamline users can test that everything work with their
install. So I vote to keep the tests on pypi somehow. It does not have
to be in the main pbxplore package, though. The way MDAnalysis does it
is to have a separate package for the tests; we could do that. Note that
it would require to tweak PBdata a bit (and have it work only if the
tests are installed).

On 11-04-16 11:02, Pier

[2016-04-11 10:18] pierrepo commented on #121
Good point!
However, I believe you are more an 'advanced' user than a 'normal' one.
Personally, I never tried to test packages installed through PyPi (maybe I should) and I'm pretty sure a lambda user won't either ;-)

[2016-04-11 13:49] HubLot commented on #121
I like also having tests within the package... It's more convenient for user who wants to contribute.
IMO, I don't really like the way of MDAnalysis separate things. I think it's understandable for a large package with many different tests on many different input files (like MDA) but for PBxplore, it's overkill and add too much complexity.

One reasonably solution could be reduce the size of the t

[2016-04-11 13:52] jbarnoud commented on #121
Also, some files could be compressed.

On 11-04-16 15:49, Hub wrote:

[2016-04-11 17:21] pierrepo commented on #121
Yes but I think you mix two different types of users:
- normal users who just expect PBxplore to work out of the box and who want to install PBxplore as smoothly and quickly as possible
- advanced users who might like to improve PBxplore, the GitHub repo is then made for them.

That why I believe the test dir is useless in the PyPi package ;-)

[2016-04-11 17:28] jbarnoud commented on #121
I would add a category: normal users that will not touch the code, but
want to make sure everything is OK in their install as they will rely on
the program for their paper.

On 11-04-16 19:21, Pierre Poulain wrote:

[2016-04-11 17:34] pierrepo commented on #121
Agree but that is why we use a CI system and also why PyPi allows requirement.txt to have every dependence right.

Most of my published results are produced by software such Gromacs, PyMOL, Python, R, Numpy, Pandas... and I never performed a single test on these software, assuming they were working correctly (buy maybe I was wrong).

[2016-04-11 17:36] jbarnoud commented on #121
Travis tells that it should be fine. It does not say that it works fine
on your machine. You may use unexpected version of some dependencies for
instance.

On 11-04-16 19:34, Pierre Poulain wrote:

[2016-04-11 17:56] pierrepo commented on #121
You're right about Travis.
But to test that PBxplore works correctly, you need to:
- install PBxplore,
- go to the path where PBxplore has been installed (tricky to find for a normal user),
- find the correct command to test PBxplore (again, not easy for a normal user).
Apart @jbarnoud and @HubLot , I do not know anybody that tests his packages installed through PyPi.
So I proposed, we remove test

[2016-04-12 08:42] HubLot commented on #121
Okay fair enough.

[2016-04-12 09:57] pierrepo commented on #121
Thanks

![](http://i.giphy.com/MyFuWu0Pfq4BW.gif)

[2016-04-15 11:09] pierrepo commented on #121
Hi guys,

I found in this thread that is was possible to have tests available in the package namespace (as Numpy does) :
http://stackoverflow.com/questions/32390705/should-i-include-tests-and-pyc-files-when-building-package-with-setuptools

It would be great -- and a good way to keep tests in the PyPi package -- to do such a thing:

[code]
or
[code]
with of course test_regression.py and test_funct

[2016-04-18 08:22] pierrepo commented on #121
@HubLot could you also shrink a bit test data as you proposed?

[2016-04-18 10:03] pierrepo opened #123 "Crash while building doc with Jupyter-nbconvert 4.2.0"
Here is a the message from Travis:
[code]
Full error log is here https://travis-ci.org/pierrepo/PBxplore/jobs/123852391
This error does not occur with jupyter-nbconvert 4.1.0

[2016-04-18 10:30] #123 closed

[2016-05-18 15:39] pierrepo opened #125 "pip installation failed on a Python setup without numpy"
In setup.py, pbxplore module is loaded before being installed.

[2016-05-18 16:54] pierrepo opened #127 "Travis failed while building docs"
Issue with socks-0.5.5.
https://travis-ci.org/pierrepo/PBxplore/jobs/131187740

[2016-05-19 08:27] HubLot commented on #127
pandoc is so painful...

[2016-05-19 08:31] pierrepo commented on #127
yep. And I have no idea how to fix this...

[2016-05-19 08:33] HubLot commented on #127
I'll give it a try

[2016-05-19 08:37] #125 closed

[2016-05-19 10:09] jbarnoud commented on #127
I gave a quick try yesterday night. I did not manage, but here what I learnt:

* pandoc 0.15.1 or greater is required for the doc to build
* using the ubuntu 14.04 provided by Travis, and installing pandoc with APT does not work as pandoc is install in version 0.9
* just letting cabal install the latest version of pandoc fails because pandoc cannot resolve the dependencies
* the [install instructi

[2016-05-19 13:15] HubLot commented on #127
Thanks for pointing the pandoc website, I didn't realized they provide deb...
So, I resolved the issue by installing the 1.15.1 (not higher cause it fails) the deb package.
No more cabal \o/

[2016-05-19 13:59] #127 closed

[2016-05-24 15:19] HubLot commented on #121
fix with #122

[2016-05-24 15:19] #121 closed

[2016-05-24 15:21] HubLot opened #129 "test function is not working outside PBxplore folder"
Hi,

By playing with conda to create a conda package, I realized that the test function I implemented in #122 doesn't work outside the PBxplore folder package :

[code]
I found the bug and I'll create a PR

[2016-05-25 09:49] HubLot commented on #129
fixed in #130

[2016-05-25 09:49] #129 closed

[2016-07-21 08:09] alexdb27 opened #132 "installation difficulties and PBxplore philosphy"
Hi,

With the new  https://pypi.python.org/pypi/pbxplore, it seems at first more easy to install PBxplore.

It is not from my point of view.

(i) It must be check that with non-root options, it can be used.
From my experiences, it seems there is issues.

(ii) 'Optionally, PBxplore can use the following packages.'
Most of them (all) are not in my mind optional as PBxplore is done to analyse MDs.
Ot

[2016-07-21 12:53] HubLot commented on #132
(i) It works but indeed, the location of the tools are not in the default $PATH due to pip. We can write a bit more on that and point to the correct pip documentation.

(ii) Indeed, the PDB parser is minimalist (see #104).

(ii bis) those dependencies are installable through pip.
(ii ter) I'm afraid not (it's only 3)

(iii) The version on Pypi is not up-to-date to the one on Github, hence this err

[2016-08-27 06:49] jbarnoud opened #133 "Tests fail with he latest version of weblogo"
`weblogolib.ColorGroup` does not exist anymore.

[2016-09-30 08:27] HubLot commented on #133
Indeed. It's now `weblogolib.SymbolColor`.
How can we manage that? Change it and precise the number of version supported ?

[2016-09-30 09:34] jbarnoud commented on #133
Is it just the name that changes? Is the prototype the same? If so, we could just link them both to the same name.

[2016-09-30 11:03] HubLot commented on #133
Prototype is the same yes. You can check my PR

[2016-10-06 10:09] HubLot commented on #133
fix in #134

[2016-10-06 10:09] #133 closed

[2016-10-07 13:43] HubLot commented on #102
see #131

[2016-10-11 08:23] #102 closed

[2016-10-11 13:24] HubLot opened #136 "Remove Clustering"
In order to remove properly the clustering parts of PBxplore without losing the code, I offer this procedure :
- [x] Create 2 branches called _clust_R_ and _clust_python_ as clone of the current _master_
- [x] Remove all R clustering from master (already done here: https://github.com/HubLot/PBxplore/commit/d56759f010de2f693b9ef41f33de7e5bed026ffa)
- [x] Put @jbarnoud's work (#106) into _clust_pyth

[2016-10-11 13:28] jbarnoud commented on #136
For the record, I have a PR ongoing to remove clustering. I plan to
submit it before the end of the month. In addition to the removal of the
code, the PR removes the tests, the doc, and the examples.

Indeed, the current code should be kept in a separate branch.

On 11-10-16 15:24, Hub wrote:

[2016-10-26 17:17] pierrepo opened #138 "PBxplore from PyPI (v1.0) does not seem to read *.pdb.gz anymore"
[code]

File `toto.PB.fasta` is empty.

[2016-10-27 08:30] HubLot commented on #138
same issue with the master version

[2016-10-27 08:47] HubLot commented on #138
Well, in fact, we didn't include `.pdb.gz` extension in the list of authorized extensions... See in https://github.com/pierrepo/PBxplore/blob/master/pbxplore/structure/PDB.py :

[code]
We dont neither have a test for this case (but we do for `cif.gz`).
I'll do a PR to add the correct extensions and a test case ;)

[2016-12-21 12:49] #138 closed

[2016-12-22 12:30] pierrepo opened #145 "Check PEP8 compliance"
Check (and improve) PEP8 compliance with pylint or pyflake.

[2017-01-16 13:30] HubLot commented on #136
done in #143

[2017-01-16 13:30] #136 closed

[2017-01-16 14:02] HubLot opened #146 "PBstat with `--map` option crash when the number of residus is < 20"
With a PB count file with less than 20 residus, the map generation is failing :

[code]

[2017-01-16 14:10] HubLot commented on #146
It's due to this code in `visualization.py` :

[code]

Why do we print secondary structures names only when the number of residus is greater than 20? I mean, the y-axe size (list of PB) is always the same.

One solution is to remove this threshold and always print the secondary structure (or initialize `text_shift` before the first `if`...)

[2017-01-16 23:44] pierrepo commented on #146
The width of the y-axis margin -- where secondary structure names are printed -- is proportional to the overall length of the graph. The latter is also proportional to the number of amino acids. If the number of amino acids is too low (typically under 20), the y-axis margin is too narrow and you should not print secondary structure names.
I am implementing a new way to draw this plot.

[2017-01-17 10:45] HubLot commented on #146
Okay, thanks for the explanation. I'll check the PR

[2017-01-17 20:36] #146 closed

[2017-01-20 12:35] HubLot opened #148 "visualization functions fail when the first residue of the count matrix is not equal to 1"
Hi,

We missed an important bug when writing your visualization library. As you know, sometimes the first residue of a PDB is not 1.
We did take that in account in the `PBcount` and `write_count_matrix()` by adding a number of the first residue as an optional parameter (1 by default). It works great and the count matrix can start with a different number  (see this test file for example https://git

[2017-01-20 13:06] HubLot commented on #148
I will work on that and also include a test (which we also forget :) )

[2017-01-20 13:58] HubLot commented on #148
We cannot solve this with only `residue_min` and `residue_max` arguments in the plotting functions. If `residue_min == 20`, we don't know if the index of first residue (in the count matrix) is 1 or 15 hence, it will affect the output images (either we squeeze 20 residues or 5 respectively).

After some thoughts, the easiest way I found to solve this is to add a optional variable called `offset` (s

[2017-01-25 15:31] pierrepo opened #150 "Missing progress in MD trajectory PBs assignment"
Previously, we could see the progress of PBs assignment for MD trajectory:

[code]

This is no longer possible:
[code]

 Could we revert it back?

[2017-01-26 10:28] #148 closed

[2017-01-31 09:18] HubLot commented on #150
closed #151

[2017-01-31 09:18] #150 closed

[2017-02-08 23:05] pierrepo opened #152 "PBstat does not generate weblogo anymore"
When the WebLogo Python lib is installed, `PBstat` generates empty ouput files with the `--logo` option.

This is the same of all image formats (pdf, jpg and png).

[2017-02-09 19:56] pierrepo commented on #152
@HubLot could you have a look?

[2017-02-10 09:46] HubLot commented on #152
I don't have this issue. Can you precise the version of packages used and python version ?

[2017-02-10 09:51] pierrepo commented on #152
Python 3.5.2
weblogolib : 3.5.0
matplotlib 1.5.3
Last version of PBxplore on the master branch

[2017-02-10 09:53] HubLot commented on #152
Thanks. The file is empty (size of 0) or unreadable ?

[2017-02-10 09:56] pierrepo commented on #152
The file is built, not empty (I believe it's the correct size) but is unreadable.
I tried  all possible formats (png, jpg and pdf). Always unreadable.

[2017-02-10 10:22] HubLot commented on #152
Indeed, I have this issue with Python 3 but not Python 2...

[2017-02-10 10:56] HubLot commented on #152
It's due to encoding.

[2017-02-16 10:17] HubLot commented on #152
close in #153

[2017-02-16 10:17] #152 closed

[2017-02-19 21:34] pierrepo commented on #145
This could do the work: https://github.com/OrkoHunter/pep8speaks

[2017-02-21 10:08] HubLot commented on #145
This looks great. We will need to tweak it a little bit but this could be useful.
I tested locally pycodestyle (https://github.com/PyCQA/pycodestyle) and there is not so much errors.
See this gist: https://gist.github.com/HubLot/790581500542c4015ba4e892deea6123

[2017-02-21 11:35] pierrepo commented on #145
OK. We could tweak it with a ``.pep8speaks.yml`` file. For instance, we could increase the max line length:

    pycodestyle:
        max-line-length: 100  # Default is 79 in PEP8

[2017-02-21 12:45] HubLot commented on #145
Yeah, plus we have some lines which are not PEP8 compliant but increase readability (for example, https://github.com/pierrepo/PBxplore/blob/master/pbxplore/assignment.py#L51 or https://github.com/pierrepo/PBxplore/blob/master/pbxplore/structure/structure.py#L305)

[2017-03-01 14:44] pierrepo opened #156 "Update travis to build doc also for Python 3.x (up to 3.6)"
I tried for Python 3.6 in branch ``travis-python-3.6``. @HubLot could you have a look?

[2017-03-01 16:10] pierrepo commented on #156
Yes, Travis is [experimenting issues](https://www.traviscistatus.com/) due to the recent AWS outage.

Refresh regularly and it should come up.

The  ``travis-python-3.6`` branch failed in Travis CI because of a wrong declaration in the table of content while generating the doc (the code itself is OK). Nothing big I guess.

[2017-03-01 23:39] pierrepo opened #157 "Update license to BSD?"
I like this remark taken from [here](https://barbagroup.github.io/essential_skills_RRC/openlicenses/openlicensing/)

I propose we go to BSD license.
What do you think @jbarnoud @HubLot ?

[2017-03-01 23:42] pierrepo commented on #145
@HubLot can you give a try to pep8speaks?

[2017-03-03 12:52] HubLot commented on #156
The error is due to the fact `jupyter-nbconvert`cannot convert notebooks into markdown because it cannot find *python2* kernel. Indeed, the notebooks where created with a python2 kernel, so the tool needs this kernel to convert the notebook.
Since it's a python3 environment, there is no python2...

I'm not sure there is simple solution to that. Maybe give up on building the doc with python3 ?

[2017-03-03 15:06] pierrepo commented on #156
apparently could can have a Python2 kernel within Python3 jupyter:
http://stackoverflow.com/a/37857536
Could you have a look?

[2017-03-03 15:43] HubLot commented on #156
Thanks. It worked see my `.travis.yml`modification (https://github.com/HubLot/PBxplore/commit/743594b9ac349d15851517368812d7298a5c1447) and Travis result (https://travis-ci.org/HubLot/PBxplore/jobs/207400221)

[2017-03-03 15:51] HubLot commented on #145
Here a working example : https://github.com/HubLot/PBxplore/pull/2#issuecomment-283948814 :smile:

[2017-03-03 15:55] HubLot commented on #157
I'm not fully competent to have a critical comparison between MIT and BSD so I let you decide guys :)

[2017-03-03 16:36] pierrepo commented on #156
Very nice. Could you propagate this for all Python 3.x versions we are currently tested? And then create a PR?

[2017-03-03 16:40] pierrepo commented on #145
Sounds good. Could we silent "E501 line too long" errors and fix other ones?
I believe we could use pep8speaks in production. What do you think?

[2017-03-04 18:42] jbarnoud commented on #157
I have nothing against any of these licenses. The 3-clauses BSD seems slightly less ambiguous, but I doubt the difference actually matters at the scale of the project.

[2017-03-06 14:15] HubLot commented on #145
We could use it yes but we will still have some errors due to certain lines which don't follow PEP8 but increase the readibility of the code (see my previous examples)

[2017-03-08 08:17] pierrepo commented on #145
OK. No need then. I close this issue.

[2017-03-08 08:17] #145 closed

[2017-03-08 08:40] pierrepo commented on #156
Thanks @HubLot

[2017-03-08 08:40] #156 closed

[2017-08-08 09:52] pierrepo commented on #103
PBxplore has now a DOI provided by Zenodo: <https://doi.org/10.5281/zenodo.598132>

[2017-08-08 09:52] #103 closed

[2017-08-08 09:53] #157 closed

[2017-08-08 09:54] pierrepo commented on #132
Given the update on documentation and installation procedure. I believe we can close this issue.

[2017-08-08 09:54] #132 closed

[2017-08-08 09:59] pierrepo opened #167 "Two tests 'xfailed'"
By running tests with the last version of PBxplore (after integration of pytest as the new test engine):

    import pbxplore
    pbxplore.test()

I encountered two `xfail` tests:

    pbxplore/tests/test_regression.py::TestPBAssign::test_different_outputs xfail
    pbxplore/tests/test_regression.py::TestPBstat::test_weblogo_logo_invalid_format xfail

These xfailed tests do not seem very problemat

[2017-08-08 10:00] jbarnoud commented on #167
`xfail` means that the test is expected to fail; in this case, they even have to fail (they are set to be strict failures). So everything is perfectly normal here.

[2017-08-08 10:15] pierrepo commented on #167
Hence the return code of 0.
Thanks for the explanation @jbarnoud.

[2017-08-08 10:15] #167 closed

[2017-09-28 16:22] jbarnoud opened #168 "Pierre's and Hubert's affiliations are outdated on the README"
The title of the issue speaks for itself.

[2017-10-04 12:33] #168 closed

[2017-11-23 12:54] jbarnoud opened #170 "Link the paper and explain how to cite"
Now that the paper is published, we should tell the world on the README, the doc, and the program.

[2017-11-26 20:09] pierrepo commented on #170
OK for the README, the doc, and probably a `CITING.md` in the source repo. Is it OK?

[2017-11-27 11:29] jbarnoud commented on #170
I am not sure `CITING.md` is needed, but it cannot hurt.

[2017-12-06 09:01] HubLot commented on #170
close in #171

[2017-12-06 09:01] #170 closed

[2019-07-12 09:21] alexdb27 opened #173 "new Weblogo library issue"
_The Weblogo library had been modified (changed from weblogolib to weblogo). I believe so it must be modified:_

_In_
**pbxplore/analysis/visualization.py**

_perhaps in_
**pbxplore/scripts/PBstat.py
pbxplore/scripts/test.py
pbxplore/tests/test_regression.py**

_We need to modify_
**import weblogolib**
_by_
**import weblogo as weblogolib**

_And in_
**pbxplore/tests/__init__.py**
_Change_
**module

[2021-01-27 08:27] pierrepo opened #178 "Update badge for CI"
We are now using GitHub actions for CI (instead of Travis previously).

The Travis CI badge is no longer relevant. @HubLot could you try to update it with [a workflow badge](https://docs.github.com/en/actions/managing-workflow-runs/adding-a-workflow-status-badge)?

[2021-01-27 08:43] pierrepo opened #179 "Update citation with code archives"
The current version of PBxplore has evolved from the original version published in 2017, notably by the dropout of Python < 3.6.

We should update the CITATION section in the README to specify the exact version that was used for the paper and link to code archives such as Zenodo and Software Heritage.

## Zenodo
Identifier
[code]
Badge [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1016257.sv

[2021-01-27 12:52] HubLot commented on #173
fixed in #175

[2021-01-27 12:52] #173 closed

[2021-01-27 13:47] #178 closed

[2021-01-27 14:45] #179 closed